---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// not that i even use these!
$brand-one: #B2302E;
$brand-two: #FFFF75;
$brand-three: #FF5E5B;
$brand-four: #358DCC;
$brand-five: #377FB2;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "layout"
;
