<footer class="site-footer clearfix">

  <div class="container">

    <div class="footer-col-wrapper">
      <div class="col-sm-3">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>
            {% include icon-tel.html phone_number=site.phone_number %}
          </li>
        </ul>
      </div>

      <div class="col-sm-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-sm-6">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
