<div class="text-center home__tech-section__tech-logos tech-logos">
  <img src="/assets/html5.png" alt="HTML5" title="HTML5" height="64" />
  <img src="/assets/css3.svg" alt="CSS3" title="CSS3" height="64" />
  <img src="/assets/js.png" alt="JavaScript" title="JavaScript" height="64" />
  <img
    src="/assets/react-sticker-dark.png"
    alt="React"
    title="React"
    height="64"
  />
  <img src="/assets/node-logo.svg" alt="Node.JS" title="Node.JS" height="64" />
  <img
    src="/assets/Ruby_on_Rails.svg"
    alt="Ruby on Rails"
    title="Ruby on Rails"
    height="64"
  />
  <img
    src="/assets/aws.png"
    alt="Amazon Web Services"
    title="Amazon Web Services"
    height="64"
  />
  <img src="/assets/docker.png" alt="Docker" title="Docker" height="64" />
  <!-- <img src="/assets/symfony-logo.png" alt="Symfony" title="Symfony" height="64" />
  <img src="/assets/ansible_wordlogo.png" alt="Ansible" title="Ansible" height="42" /> -->
</div>
